.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-menu {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #38455C;
  background: -webkit-#38455C;
  background: -o-#38455C;
  background: -moz-#38455C;
}

.wrap-menu {
  width: 960px;
  /* meadowlark=E4DC53  */
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  opacity: 0.9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 130px 33px 95px;
}

.form-menu {
  width: 80%;
  margin: 0 auto;
}


#rounded-corner {
  border-radius: 25px;
}